$base-color: #3d3d3d;

#app {
  // background: red;
  color: $base-color;

  &:hover {
    opacity: 0.5;
  }

  .img {
    width: 300px;
    height: 300px;
  }

  .back {
    width: 400px;
    height: 400px;
  }
}
