.class-test {
  img {
    width: 5rem;
    height: 5rem;
  }
  .title-wrapper {
    display: flex;

    h1 {
      font-size: 2rem;
    }
  }

  .button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 2rem;

    &:hover {
      opacity: 0.75;
    }
  }
}

.todo-render {
  display: flex;
  flex-direction: column;
  align-items: center;
}
