.detail {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
}

div {
  text-align: center;
}

.render-model {
  border: 1px solid #111;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
